:root{
    --ink: rgb(179, 227, 7);
    --mutend: rgb(61, 160, 0);
    --background: rgb(255, 177, 88);
    --text: rgb(255, 255, 255);
    --border: rgb(255, 255, 255);
    --highlight: rgb(257, 255, 255);
    --shadow: rgb(0, 0, 0);
    --accent: rgb(255, 255, 255);
    --accent-dark: rgb(0, 0, 0);
    --accent-light: rgb(255, 255, 255);
    --error: rgb(255, 0, 0);
    --result: rgb(0, 255, 0);
    --radius: 5px;
    --space: 1rem;
    --line: rgb(19, 56, 0);
}
* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight:bold;
    text-align:center;
}
h1{
    margin: 0 0 0 5rwm;
    font-size: clamp(2rem,6vw,3.2rem);
    color: var(--mutend);
}
a{
    color:var(--text);
}
:focus-visible
{
    outline: 3px solid --ink;
    outline-offset: 2px;
}
.body{
    margin: 20px;
    padding: 20px;
}
header{
    padding: 3rem max(var(--space), calc((100%-60rem)/2)) 2rem;
    background-color: var(--ink);
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.25rem;
    margin: 1.5rem 1 0;
    padding:0;
    list-style: none;
    background-color: rgb(11, 101, 179);
    
}
section{
    padding:2rem;
    border-bottom: 1px solid var(--line);
}
#projects{
    margin:10px;

}
textarea{
    width:100%;
    height: 200px;
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: var(--space);
    font-family: 'Courier New', Courier, monospace;
}
button{
    padding: 10px;
    font: inherit;
    font-weight: 600;
    color: var(--text) ;
    background-color: black;
    border: none;

}
button:hover{
    background-color: gold;
}